html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-panel {
  width: 400px;
  padding: 1rem;
  background: #f3f3f3;
  overflow-y: auto;
  max-height: 100vh;
}

/* src/index.css 또는 글로벌 css에 추가 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
